name: Test the application

on:
    push:
        branches:
            - '*'

jobs:
    test:
        name: Run tests
        runs-on: ubuntu-latest
        steps:
            - name: Check out the repository
              uses: actions/checkout@v3

            - name: Prepare
              uses: actions/setup-node@v3
              with:
                node-version: 18
                cache: 'npm'

            - name: Run tests
              run: npm run test
